body{
    margin: 0;
    /* background: url(vigan.jpg); */
    
}

.nav{
    background-color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position: sticky;
    top:0px;
}

 main{
    background: url("vigan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.navleft{
    /* letter-spacing: 3px; */
    padding: 14px;
    font-size: 25px;
}

a{
    text-decoration: none;
    padding: 10px;
}

a:active{
    color: grey;
}

a:visited{
    color:black;
}
ul{
   
    display:flex;
    list-style-type: none;
}

ul li{
    letter-spacing: 5px;
    position: relative;
    top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    
}

#menuicon{
    margin-right: 20px;
}

#space{
    letter-spacing: 5px;
}

a:hover{
    background-color:black; 
    color:white;
    border-radius: 5px;
}

.cat1{
    margin-top: 100px;
    margin-left: 100px;
    height: 600px;
    width: 500px;
} 

.cat2{
    background-color: white;
    margin-top: 100px;
    width: 800px;
    height: 600px;
} 
#cat3{
    margin-left: 100px;
    padding-left: 50px;
}

#cat4{
    margin-left: 0;

}

.cat5{
    margin-top: 100px;
    margin-left: 100px;
    height: 600px;
    width: 600px;
}

h1{
    /* margin-top: 100px; */
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Times New Roman', Times, serif;

}

h3{
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;

}

h2{
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 69, 69);
}

h4{
    color: grey;
}

#about p{
    /* margin-top: 50px; */
    text-align: justify;
    padding: 10px 100px 100px 100px;
    line-height: 2;
}
img{
    width: 500px;
    height: 600px;
}

.container{
    display: flex;
}
#contact{
    background-color:plum;
    height: 100%;
}
#contact p{
   
    text-align: center;
}

form{
    /* border: 1px solid black; */
    font-size: 30px;
    border-radius: 5px;
    text-align: left;
    
    
}

.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(62, 61, 61);
    outline: none;
    border-radius: 8px;
}
 
#sidenav{
    position: fixed;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: all .5s ease;

}

#sidenav li{
    margin-left: 0;
    margin: 15px;
}

.sidebar #sidenav a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid black;
    
       
    
}

#sidenav li:hover a{
    padding-left: 80px;
    background-color: grey;
}

input {
    width: 800px;
    height: 50px;
}

.footer p{

    text-align: center;
    /* background-color: white; */
    font-family: 'Times New Roman', Times, serif;
    margin-top: 65px;

}

button{
    border-radius: 35px;
    width: 250px;
    height:50px;
    margin-top: 20px ;
    margin-left: 20px;
    color:white;
    margin-bottom : 20px; 
   background-color: rgb(189, 63, 189); 
}

button:hover{
    color:white;
    background-color: green;

}

.p1{
    margin-top: 0;
}

#contacth1{
    margin-top: 0;
}
 
#radius{
    border-radius: 50px;
}

.pink{
    margin-left: 25%; 
}

.pink img{
    width: 1117px;
    height: 692px;
    /* border-radius: 10%; */
    /* margin: 5px; */
}







